!include ../my.cnf

[mysqld.1]
server_id=1

[mysqld.2]
server_id=2
replicate-ignore-db=test_slave1

[mysqld.3]
log-slave-updates
server_id=3

[ENV]
SLAVE_MYPORT1=		@mysqld.3.port
SLAVE_MYSOCK1=		@mysqld.3.socket



